[user]
	name = Fraser Tweedale
	email = frase@frase.id.au
[push]
	default = tracking
[alias]
	co = checkout
	ci = commit
	st = status
	rank = shortlog -esn --no-merges
	graph = log --graph --oneline
	diffi = diff --cached
	ff = merge --ff-only
	sub = submodule
	stat = diff --stat
	stati = diff --cached --stat
	tmerge = merge --no-ff --no-ff-only
	gerrit = "!f() { \n\
			ACTION=$1 \n\
			BRANCH=$2 \n\
			shift 2 \n\
			RECEIVEPACK=\"\" \n\
			for REVIEWER in \"$@\"; do RECEIVEPACK=\"$RECEIVEPACK --reviewer '$REVIEWER'\"; done \n\
			if [ -n \"$RECEIVEPACK\" ] \n\
			then \n\
				git push \"--receive-pack=git receive-pack $RECEIVEPACK\" gerrit HEAD:refs/$ACTION/$BRANCH \n\
			else \n\
				git push gerrit HEAD:refs/$ACTION/$BRANCH \n\
			fi \n\
		}; f"
	draft = "!g() { git gerrit drafts \"$@\"; }; g"
	publish = "!g() { git gerrit publish \"$@\"; }; g"
[color]
	diff = auto
[log]
	decorate = short
