[user]
	name = Fraser Tweedale
	email = frase@frase.id.au
[push]
	default = tracking
[alias]
	co = checkout
	ci = commit
	st = status
	rank = shortlog -esn --no-merges
	graph = log --graph --oneline
	diffi = diff --cached
	ff = merge --ff-only
	sub = submodule
	stat = diff --stat
	stati = diff --cached --stat
	tmerge = merge --no-ff --no-ff-only
[color]
	diff = auto
[log]
	decorate = short
