[user]
	name = Fraser Tweedale
	email = frase@frase.id.au
[push]
	default = tracking
[color]
[alias]
	co = checkout
	ci = commit
	st = status
	rank = shortlog -esn --no-merges
	graph = log --graph --oneline
	diffi = diff --cached
[color]
	diff = auto
[log]
	decorate = short
